<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageData.pageTitle}}</title>
  </head>
  <body>
    <h1>{{pageData.pageHeader}}</h1>
    <p>{{pageData.example.of_nested.object.inside_of_object.text}}</p>
    <ul>
      {{#each pageData.listExample}}
        {{#if this.showMe}}
          <li>{{this.text}}</li>
        {{else}}
          <li>Skip - {{this.text}}</li>
        {{/if}}
      {{/each}}
    </ul>
    <ul>
      {{#each pageData.nestedListExample}}
        <li>
          <h3>{{this.listTitle}}</h3>
          <ol>
            {{#each this.listItems}}
            <li>{{parent.parent.listTitle}} --- {{this.itemName}}</li>
            {{/each}}
          </ol>
        </li>
      {{/each}}
    </ul>
  </body>
</html>